
nav{

    background-color: black;
    color: white;
}

.outer{

    background-color: lightseagreen;
    height: 300px;
    width: 600px;
}
.inner{
    background-color: chocolate;
    height: 100px;
    width: 350px;
}


/* descendent  selector */

.outer h2{
    color: blue;

}

/*  direct child selector */
.outer > h1{
    color: chartreuse;
}